<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="coordrecursos.css">
    <script src="coordrecursos.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <title>Cursos de Extensión UCO</title>
</head>
<body>
    <div class="topbar">
        <img class="logo" src="../resources/logo.png">
        <div>
            <p class="coordcur"> <%=nombre%> </p>
        </div>
    </div>
    <div class="Cursos">
        <div class="cursosdisponibles">Recursos disponibles:</div>
        <% recursos.forEach(recurso => { %>
            <div class="Curso 1" id="curso">
                <div>
                    <h1 class="titulo uno">Nombre: <%=recurso.nombre_recurso%> (<%=recurso.tipo_recurso%>) </h1>
                    <p class="plazo">ID recurso: <%=recurso.id_recurso%></p>
                    <p class="id">Curso asociado: <%=recurso.nombre_curso%></p>
                    <p class="id">ID curso: <%=recurso.id_curso%></p>
                </div>

                <span onclick="cru(this)" id="crus" class="material-icons menu">menu</span>
            </div>
            <div id="despl"></div>
        <% }); %>

        <div class="editar">
            <span onclick="eliminar()" class="material-icons circle">delete</span>
            <span onclick="add()" class="material-icons delete">add_circle</span>
            <span onclick="editar()" class="material-icons edit">edit</span>
        </div>
        
    </div>
</body>
</html>